venv
fly.toml
.vscode
__pycache__
/.gtm/
.env
.ruby-version
/vite/dist/assets
vite/dist/assets
/vite/dist/*.html
vite/dist/*.html
*node_modules*
node_modules
/vite/node_modules
vite/node_modules

tools/cqlsh-*
.appconfig.yml

.chainlit/*.db
.chainlit/.*.db

data/documents/*.doc
data/documents/*.txt
data/documents/*.pdf
data/documents/*.csv
data/documents/*.json
data/*.zip